<%- include("header") -%> 

<h2>About page </h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi ullam, veniam amet placeat vel sequi officiis officia hic aliquid quasi quis nobis animi cupiditate corporis exercitationem? Error nulla totam facere quos, assumenda dolorem nostrum fugiat corporis accusamus quia. Distinctio, laboriosam necessitatibus consequuntur beatae tempore quas excepturi recusandae laborum possimus vitae molestiae sapiente eos veritatis hic dolorum at.</p>

<%- include("footer") -%> 